body {
  background: #000; /* Black background */
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: sans-serif;
}

.text {
  color: white;
}

fieldset {
  border: 2px solid #fff;
  border-radius: 0.5em;
  text-align: center;
  padding: 1rem;
}

legend {
  color: #fff;
  font-size: 1.5rem;
  background: transparent;
}

.rounded-social-buttons {
  text-align: center;
  margin-top: 1rem;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 0.5rem;
  color: #fff;
  font-size: 1.4rem;
  line-height: 3.125rem;
  text-align: center;
  transition: 0.3s ease;
  background-color: transparent;
}

.rounded-social-buttons .social-button:hover {
  background-color: #fff;
  color: #000;
  transform: rotate(360deg);
}
